/* UNIVERSAL STYLES */


* {
    font-family: 'Lato', sans-serif;
}
body {
    background-color: #edf8fe;
}
.place-holder {
    height: 400px;
    background-color: #e4e2e1;
    margin: 100px 0;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.row {
    margin-bottom: 15px;
}
.img {
    margin-bottom: 15px !important;
}
.container {
    padding-left: 10px;
    padding-right: 20px;
}
ul {
    padding: 0;
    margin-left: 0 !important;
}




/* NAV & JUMBOTRON STYLES */


.jumbotron {
    background: #313332;
    height: 800px;
    padding-top: 0;
}
.navbar-inverse {
    background: none;
    border: none;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: rgb(253, 161, 128);
    background: none;
    font-size: 1.5em;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover {
    color: rgb(253, 161, 128);
}

/*  -- HEADER UI UNIVERSAL STYLES --  */

h1, h2 {
    display: inline-block;
    -webkit-display: -webkit-inline-box;
    padding: 30px;
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;
}
.bkg-offset {
    background-color: #282a29;
    width: 100%;
    height:80%;
    left: 20px;
    top: 42px;
}
.header-main-text {
    border: 2px solid #edf8fe;
    color: #edf8fe !important;
}
.header-main-wrap {
    display: inline-block;
}
.header-secondary {
    border: 2px solid rgb(253, 161, 128);
    color: rgb(253, 161, 128);
}

/* -- HEADER UI ELEMENT SPECIFIC STYLES -- */

/* JUMBOTRON SECTION */

/* Home Page */

.hero {
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
}
.amp {
    color: rgba(253, 161, 128, .6);
    font-size: 15em;
    right: -15%;
    top: -120%;
}

/* MAIN CONTENT SECTION */

/* Home Page */

.about {
    left: 50%;
    transform: translatex(-50%);
    margin: 0;
}

/* For Portfolio and Contact pages */

.portfolio, .contact {
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.jumbotron-secondary h1 {
    color: #edf8fe;
    margin-top: 90px;
}

.jumbotron.jumbotron-billboard.jumbotron-secondary {
    height: 400px;
}

/* -- END HEADER STYLES -- */



/* MAIN CONTENT STYLES */

ul {
    list-style: none;
    margin-left: 25%;
    font-size: 1.2em;
}
.skills-header {
    border-bottom: solid 1px #edf8fe;
    margin-top: 40px;
}

.skills-list {
    margin-top: 40px;
}

.main-content {
    background-color: #313332;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 40px 60px;
    box-shadow: 10px -10px rgb(253, 161, 128);
    color: #edf8fe;
}

.bio {
    margin-top: 40px;
    font-size: 1.2em;
    padding: 0 10%;
}

.headshot {
    width: 200px;
    border-radius: 50%;
}

/* PORTFOLIO STYLES */

.project-header {
    color: #313332;
    bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* CONTACT STYLES */

textarea, .input-text {
    width: 100%;
    margin: 20px 0;
    color: #313332;
}

.btn-group-lg>.btn, .btn-lg {
    background: none;
    border-radius: 0;
    border: 2px solid #edf8fe;
}

.btn-group-lg>.btn:hover, .btn-lg:hover {
    background: #edf8fe;
    color: #313332;
}
.contact-message {
    background: rgb(253, 161, 128);
    margin: 40px;
    padding: 40px;
    font-size: 1.2em;
    color:#313332;
}
.contact-message button {
    color: #313332;
    border-color: #313332;
    margin-top: 20px;
}
.contact-message button:hover {
    background: #313332;
    color: #edf8fe;
}

/* FOOTER STYLES */

footer {
    background-color: #313332;
    height: 180px;
    border-bottom: 15px solid #282a29;
    color: rgb(146, 145, 145);
}

.icon {
    width: 60px;
    margin: 40px 10px 20px 10px;
}

.stackoverflow {
    fill: pink;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 992px) {
    .project-header h3 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 768px) {
    .jumbotron {
        height: 700px;
    }
    .amp {
        font-size: 12em;
        top: -100%;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    .row {
        margin-bottom: 0;
    }
    .col-sm-6 {
        margin-bottom: 15px;
    }

}

@media only screen and (max-width: 580px) {
    .jumbotron {
        height: 600px;
    }
    .hero {
        top: 50px;
    }
    .amp {
        font-size: 10em;
        top: -110%;
    }
    h1, h2 {
        padding: 20px;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.8em;
    }
    .bkg-offset {
        height: 70%;
        left: 12px;
        top: 34px;
    }
    .main-content {
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 15px;
    }
    .headshot {
        width: 150px;
    }
    .bio {
        padding: 0;
        font-size: 1em;
    }
    ul {
        font-size: 1em;
    }
    .contact-message {
        margin-left: 0;
        margin-right: 0;
        padding: 15px;
    }
}