/* UNIVERSAL STYLES */


* {
    font-family: 'Lato', sans-serif;
}
body {
    background-color: #edf8fe;
}
.place-holder {
    height: 600px;
    background-color: #e4e2e1;
    margin: 100px 0;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}



/* NAV & JUMBOTRON STYLES */


.jumbotron {
    background: #313332;
    height: 800px;
    padding-top: 0;
}
.navbar-inverse {
    background: none;
    border: none;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: rgb(253, 161, 128);
    background: none;
    font-size: 1.5em;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover {
    color: rgb(253, 161, 128);
}

/*  -- HEADER UI UNIVERSAL STYLES --  */

h1, h2 {
    display: inline-block;
    -webkit-display: -webkit-inline-box;
    padding: 30px;
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;
}
.bkg-offset {
    background-color: #282a29;
    width: 100%;
    height:80%;
    left: 20px;
    top: 42px;
}
.header-main {
    border: 2px solid #edf8fe;
    color: #edf8fe !important;
}
.header-secondary {
    border: 2px solid rgb(253, 161, 128);
    color: rgb(253, 161, 128);
}

/* -- HEADER UI ELEMENT SPECIFIC STYLES -- */

/* JUMBOTRON SECTION */

/* Home Page */
.name {
    top: 60px;
    left: 25%;
}
.design {
    top: 280px;
    left: 250px;
}
.dev {
    top: 355px;
    left: 630px;
}
.amp {
    color: rgba(253, 161, 128, .6);
    position: absolute;
    font-size: 14em;
    left: 530px;
    top: 260px;
}

/* MAIN CONTENT SECTION */

/* Home Page */

.about {
    left: 50%;
    transform: translatex(-50%);
    margin: 0;
}

/* For Portfolio and Contact pages */

.portfolio, .contact {
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.jumbotron-secondary h1 {
    color: #edf8fe;
    margin-top: 90px;
}

.jumbotron.jumbotron-billboard.jumbotron-secondary {
    height: 400px;
}

/* -- END HEADER STYLES -- */



/* MAIN CONTENT STYLES */

ul {
    list-style: none;
    margin-left: 25%;
    font-size: 1.2em;
}

.skills {
    margin-top: 80px;
}

.main-content {
    background-color: #313332;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 40px 60px;
    box-shadow: 10px -10px rgb(253, 161, 128);
    color: #edf8fe;
}

.bio {
    margin-top: 40px;
    font-size: 1.2em;
    padding: 0 20%;
}

.headshot {
    width: 200px;
    border-radius: 50%;
}

textarea, .input-text {
    width: 100%;
    margin: 20px 0;
}

.btn-group-lg>.btn, .btn-lg {
    background: none;
    border-radius: 0;
    border: 2px solid #edf8fe;
}

.btn-group-lg>.btn:hover, .btn-lg:hover {
    background: #edf8fe;
    color: #313332;
}

/* FOOTER STYLES */

footer {
    background-color: #313332;
    height: 180px;
    border-bottom: 15px solid #282a29;
    color: rgb(146, 145, 145);
}

.icon {
    width: 60px;
    margin: 40px 10px 20px 10px;
}

.stackoverflow {
    fill: pink;
}

